# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
/.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs and editors
.vscode/
.idea/

# Env files
.env
.env.*

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Byte-compiled
*.pyc
